.wc-email-settings-table-icon {
    width: 4.5rem;
    text-align: center;
    vertical-align: middle;
}

.icenox-pay-settings-method-icon {
    display: block;
    margin: auto;
    max-height: 1.5rem;
    max-width: 4.5rem;
}

.wp-mediapicker-content-wrap, .wp-mediapicker-content {
    max-width: 400px;
}

.wp-mediapicker-content:not(.size-auto) {
    padding-bottom: calc( 4rem + .5rem );
}

.wp-mediapicker-content img {
    box-sizing: border-box;
    height: 4rem;
    padding: .25rem;
}

.method-icon-edit-url, .method-icon-load-url {
    margin-left: 1rem !important;
    line-height: 28px;
}

.support-widget img {
    width: 100%;
    margin-block: .5rem 1rem;
}

/* Switch Style */
label:has(.toggle-input) {
    --toggle-size: 1.5rem;
    --toggle-inactive-color: #999;
    --toggle-active-color: var(--wp-admin-theme-color, #007cba);

    position: relative;
    display: inline-block;
    height: var(--toggle-size);
    padding-inline-start: calc(var(--toggle-size) * 2 + 1rem);
}

.toggle-input {
    display: none !important;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--toggle-inactive-color);
    transition: all .4s ease-in-out;
    border-radius: var(--toggle-size);
    width: calc(var(--toggle-size) * 2);
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: calc(var(--toggle-size) * 0.75);
    width: calc(var(--toggle-size) * 0.75);
    left: calc(var(--toggle-size) * 0.125);
    bottom: calc(var(--toggle-size) * 0.125);
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.toggle-input:checked + .toggle-slider {
    background-color: var(--toggle-active-color);
}

.toggle-input:checked + .toggle-slider:before {
    transform: translateX(var(--toggle-size));
}